<!DOCTYPE html>
<html>
<head>
    <title>Reading Patterns</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="heading">
        <h1 style="font-size: 24px; color: white; text-align: center;">Reading Patterns</h1>
    </div>
    <div class="text-display" id="text-display"></div>
    <div class="button-container">
        <button id="load-more-button">Load More</button>
        <button id="play-pause-button">Play</button>
        <button id="reset-bookmark-button">Reset Bookmark</button>
    </div>
     <!-- Loading Spinner -->
     <div class="loading-spinner" id="loading-spinner" style="display: none;"></div>
       
    <audio id="audio-player" controls style="display: none;"></audio>
    <script src="/static/js/main.js"></script>
</body>
</html>
